COMPOSE_FILE=docker-compose.yml

DB_NAME=postgres
DB_USER=postgres
DB_PASS=postgres

AFISHA_DB_NAME=afisha
AFISHA_DB_USER=afisha
AFISHA_DB_PASS=afisha

PURCHASED_TICKETS_DB_NAME=purchased_tickets
PURCHASED_TICKETS_DB_USER=purchased_tickets
PURCHASED_TICKETS_DB_PASS=purchased_tickets
